[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pyjwt = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
passlib = "*"
python-multipart = "*"

[dev-packages]
mypy = "*"
black = "*"
types-passlib = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
